html,
body {
  background-color: #f6f1eb;
  font-family: "Georgia", serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin: 0;
  font-size: 5em;
  font-family: "Georgia", serif;
  font-weight: normal;
  color: #fff9e6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#searchInput {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
    padding: 10px;
}

.card {
    display: flex;
    width: 80%;
    background-color: #fff;
    border: 1px solid #d4b483;
    border-radius: 0 0 8px 8px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    border-top: none;
}

.card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    right: -5px;
    height: 10px;
    background: #d4b483;
    border-radius: 0 0 8px 8px;
    z-index: -1;
}

.card-content {
    padding: 20px;
    flex: 1;
    color: #333;
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.card-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 1.1em;
}

.card-details li {
    margin-bottom: 5px;
}

.card img {
    width: 150px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

body {
    background-color: #f5e7d9;
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png');
}

button {
  text-align: center;
  background-color: #6b4f3b;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.2s;
}

button:hover {
    background-color: #4e3728;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}
